<!DOCTYPE html>
<html>
    <head>
        <title>Movie Booking</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    </head>
    <body>
        <center><h1>Theaters</h1><br>
            <a href="{{ url_for('index') }}" ><button type="button" >Home</button></a>
            <a href="{{ url_for('upcoming') }}" ><button type="button" >Upcoming Movies</button></a>
            <a href="{{ url_for('search') }}" ><button type="button" >Search Movies</button></a>
       
        </center>   <br><br><br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Theater Name</th>
                <th scope="col">Available Tickets</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for movie in result %}
            <tr>
                <td scope='row'>{{ movie['theater_name'] }}</td>
                <td>{{ movie['available_tickets']  }}</td>
                
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>