<!DOCTYPE html>
<html>
    <head>
        <title>Movie Booking</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
    </head>
    <body>
        <center><h1>Theaters showing {{movie_name}}</h1><br>
            <a href="{{ url_for('index') }}" ><button type="button" >Home</button></a>
            <a href="{{ url_for('upcoming') }}" ><button type="button" >Upcoming Movies</button></a>
            <a href="{{ url_for('current') }}" ><button type="button" >Currently Playing</button></a>
       
        </center>   <br><br><br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Theater Name</th>
                <th scope="col">Available Tickets</th>
                <th scope="col">Book seats</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for movie in result %}
            <tr>
                <td scope='row'>{{ movie['theater_name'] }}</td>
                <td>{{ movie['available_tickets']  }}</td>
                <td>
                    <form action="{{url_for('booking')}}" method="POST">
                        <input type="hidden" name="movie_name" value="{{  movie['movie_name'] }}" >
                        <input type="hidden" name="theater_name" value="{{  movie['theater_name'] }}" >
                    <button>Book tickets</button></form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>